In [1]:
import sqlite3 as sl

con = sl.connect('my-test.db')

In [ ]:

with con:
    con.execute("""
        CREATE TABLE USERS (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            username TEXT,
            password TEXT
        );
    """)

    con.execute("""
        CREATE TABLE BOXES (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            color TEXT,
            objects TEXT,
            boxowner INTEGER,
            FOREIGN KEY (boxowner) REFERENCES USERS(id)
        );
    """)

In [20]:
with con:
    output = con.execute("""
                SELECT * FROM BOXES
                """).fetchall()

    con.commit()

output[0]

(1, 'test_1', 'green', '{"pen": 1}', 1)

In [25]:
type(output[0][3]), output[0][3]

(str, '{"pen": 1}')

In [27]:
from ast import literal_eval

type(literal_eval(output[0][3]))

dict

In [14]:
with con:
    id = con.execute(f'SELECT id FROM USERS WHERE username = "admin"').fetchone()[0]

id

1

In [4]:
with con:
    con.execute("""
        INSERT INTO BOXES (name, color, objects, boxowner) VALUES ('test_1', 'green', '{\"pen\": 1}', 1)
    """)

In [ ]:
with con:
    con.execute("""
        INSERT INTO BOXES (name, color, objects, boxowner) VALUES ('test_1', 'green', '{\"pen\": 1}', 1)
    """)